/* Monochrome count badge */
.toolbarbutton-badge {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
    min-width: 8px !important;
}

/* Stylus */
.webextension-browser-action[label="Stylus"] {
    list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' id='Layer_1' x='0' y='0' version='1.1' viewBox='0 0 18 18'%3E%3Cstyle%3E.st0%7Bfill:%23fff%7D%3C/style%3E%3Cpath d='M16.9 7.6V2c-.1-1.1-1-2-2.2-2H3.3C2 0 1.1.9 1.1 2.1v5.6H0v2.6h1.1v5.6C1.1 17 2 18 3.3 18h11.5c1.1 0 2.1-.9 2.1-2.1v-5.6H18V7.6h-1.1zm-1 1.5c-.2.2-.3.6-.3.9v5.6c0 .4-.3.8-.8.8H3.3c-.5 0-.8-.3-.8-.8V10c0-.3-.1-.7-.3-.9-.3-.2-.6-.2-1-.2.7-.1 1.1-.7 1.1-1.2V2.1c0-.4.3-.8.8-.8h11.5c.4 0 .8.3.8.8v5.5c0 .7.7 1.2 1.2 1.3-.3 0-.5 0-.7.2z' class='st0'/%3E%3Cpath d='m10.2 7.7-.9-.2c-.7-.2-1.3-.6-1.6-.8-.4-.3-.6-.7-.6-1 0-.4.2-.8.6-1 .3-.2.9-.3 1.4-.3s1 .1 1.4.4c.3.1.7.6.8.9l2.4-.9c-.2-.8-.8-1.5-1.6-2-.7-.6-1.8-.8-3.1-.8-.9 0-1.7.1-2.4.5s-1.2.7-1.5 1.3c-.5.6-.6 1.2-.6 1.9 0 .9.3 1.7 1 2.3a5 5 0 0 0 2.4 1.4l.9.3c.9.3 1.6.7 2 1 .4.3.6.7.6 1.2 0 .4-.2.9-.7 1.1-.4.2-.9.3-1.6.3s-1.3-.2-1.8-.7c-.5-.4-.8-1-1-1.7L3.8 12c.3 1.2 1 2.1 2 2.8.9.7 2 1 3.3 1a5 5 0 0 0 4-1.7c.4-.6.7-1.3.7-2.2 0-1-.3-1.9-1-2.6-.4-.6-1.3-1.1-2.6-1.6z' class='st0'/%3E%3C/svg%3E") !important;
}

/* Violentmonkey */
.webextension-browser-action[label="Violentmonkey"] {
    list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 23 16'%3E%3Cpath fill='%23fff' d='M14.2 11.2c.6 1.2 1.8 2 3.2 1.9 1.3 0 2.2-.7 2.2-1.6 0-1.1-.9-1.5-2.3-2.1l-.8-.3c-2.3-1-3.9-2.2-3.9-4.8 0-2.4 1.8-4.2 4.7-4.2a5 5 0 0 1 4.6 2.6l-2.5 1.6a2.3 2.3 0 0 0-2.1-1.4c-.8-.1-1.5.5-1.5 1.2v.1c0 1 .6 1.4 2 1.9l.8.3c2.7 1.2 4.3 2.4 4.3 5 0 2.9-2.3 4.5-5.3 4.5a6 6 0 0 1-5.8-3.3l2.4-1.4zm-11.3.3c.5.9 1 1.6 2.1 1.6s1.7-.4 1.7-2V.2h3.2v10.9c0 3.3-1.9 4.8-4.8 4.8A5 5 0 0 1 .3 13l2.6-1.5z'/%3E%3C/svg%3E") !important;
}
.webextension-browser-action[label="Violentmonkey"] > .toolbarbutton-badge-stack > .toolbarbutton-icon {
    scale: 1.2;
}

/* Compact extensions view */
#unified-extensions-view {
	--uei-icon-size: 16px;
	.unified-extensions-item {
		margin-block: 0 !important;
		border-radius: var(--arrowpanel-menuitem-border-radius) !important;
		> .unified-extensions-item-action-button {
			.unified-extensions-item-message-deck {
				display: none;
			}
			&:hover {
				background-color: initial !important;
			}
		}
		> .unified-extensions-item-menu-button {
			list-style-image: url("chrome://global/skin/icons/more.svg") !important;
			padding: 0 !important;
			> .toolbarbutton-icon {
				padding: var(--arrowpanel-menuitem-padding-block) var(--arrowpanel-menuitem-padding-inline) !important;
				border: none !important;
				opacity: 0;
			}
			&:hover {
				color: var(--button-primary-bgcolor) !important;
				> .toolbarbutton-icon {
					background-color: initial !important;
				}
			}
			&:active {
				color: var(--button-primary-hover-bgcolor) !important;
			}
		}
		&:hover {
			background-color: var(--panel-item-hover-bgcolor);
  
			> .unified-extensions-item-menu-button > .toolbarbutton-icon {
				opacity: 1;
			}
		}
		&:has(> .unified-extensions-item-action-button:not([disabled]):hover:active) {
			background-color: var(--panel-item-active-bgcolor);
		}
	}
}