/* Brighness when urlbar [open]*/
#nav-bar[urlbar-exceeds-toolbar-bounds="true"]::before {
	position: fixed;
	content: "";
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 4 !important;
	pointer-events: none;
}
#urlbar[open] {
	z-index: 4 !important;
}

/* Monochrome ff icon */
#identity-box[pageproxystate="valid"].chromeUI #identity-icon {
	list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 32 32'%3E%3Cpath fill='%23fff' d='M30.2 10.8c-.6-1.6-2-3.4-3-3.9.7 1.5 1.2 3.1 1.5 4.7-1.7-4.3-4.7-6-7-9.9l-.4-.6-.2-.3-.2-.6h-.1c-3.4 2-4.8 5.5-5.2 7.7-1 0-2.1.3-3 .8-.2 0-.3.3-.2.4 0 .3.3.4.5.3a6 6 0 0 1 2.6-.7h.5c.7 0 1.5 0 2.2.3h.1l.4.1.2.1.2.1.4.2.4.2.2.1c1 .7 2 1.7 2.7 2.8a5.5 5.5 0 0 0-3.7-1c5.5 2.9 4 12.4-3.6 12-1 0-1.9-.3-2.8-.7-2-1-3.3-2.8-3.6-5 0 0 .7-2.7 5.1-2.7.5 0 1.8-1.3 1.9-1.7 0 0-2.7-1.1-3.8-2.2l-1-1-.4-.3a7.7 7.7 0 0 1 0-3.7C9.2 7 8 8 7 9c-.6-.8-.5-3.3-.5-3.8l-.5.2-1.5 1.3a13.3 13.3 0 0 0-3.9 9v.6A15.4 15.4 0 0 0 31.1 19v-.6c.3-2.6 0-5.4-1-7.7l.1.1z'/%3E%3C/svg%3E") !important;
}
#identity-box[pageproxystate="valid"].notSecureText>.identity-box-button, #identity-box[pageproxystate="valid"].chromeUI>.identity-box-button, 
#identity-box[pageproxystate="valid"].extensionPage>.identity-box-button, #urlbar-label-box {
	background-color: transparent !important;
}

/* Hide search one time uses */
.search-one-offs {
	display: none !important;
}