/* Remove space to left of toolbar  */
.titlebar-spacer[type="pre-tabs"] {
	display: none !important;
}

/* Remove gap after pinned tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) { margin-inline-start: 0 !important; }

/* Pinned tabs width */
:root {
	--pinned-tabs-width-offset: 2px;
}
.tabbrowser-tab[pinned] .tab-content{
	padding: 0 calc((var(--tab-min-height) - 16px) / 2 + var(--pinned-tabs-width-offset, 0px)) !important;
}

/* Remove Playing/Muted/... */
hbox.tab-secondary-label {
	display:none !important
}

/* Remove tab close button */
#TabsToolbar .close-icon {
	display: none !important;
}

/* Tabs fill available width */
/* .tabbrowser-tab[fadein]:not([style^="max-width"]){ max-width: 100vw !important } */

/* Show separator line betwen inactive tabs */
.tab-stack {
	margin-left: 1px;
	margin-right: -4px;
}
.tab-stack::before, 
.tabbrowser-tab:last-of-type .tab-stack::after {
	content: "";
	display: block;
	position: absolute;
	/* width: 1px; */
	height: 50%;
	border-left: 1px solid currentColor;
	top: 25%;
	opacity: var(--separators-color-saturation, 0);
	/* box-sizing: border-box; */
}
.tab-stack::before {
	right: 100%;
}
.tab-stack::after {
	left: 99.7%;
}
.tabbrowser-tab:is([selected],[selected] + .tabbrowser-tab,
:hover, :hover + .tabbrowser-tab, [multiselected],
[multiselected] + .tabbrowser-tab) .tab-stack::before,
.tabbrowser-tab:is([selected], :hover, [multiselected]) .tab-stack::after {
	opacity: 0 !important;
	transition: all 0.3s ease !important;
}
.tabbrowser-tab:first-of-type .tab-stack::before,
.tabbrowser-tab:last-of-type[pinned] .tab-stack::after,
#tabbrowser-tabs[overflow] .tabbrowser-tab[first-visible-unpinned-tab] .tab-stack::before,
#tabbrowser-tabs[overflow] .tab-stack::after {
	opacity: 0 !important;
	transition: all 0.3s ease !important;
}
:root {
	--separators-color-saturation: 0.5;
}

/* Fix colors and remove tab borders */
.tab-background {
	/* --tab-selected-bgcolor: var(--toolbar-bgcolor) !important; */
	/* --lwt-selected-tab-background-color: var(--toolbar-bgcolor) !important; */
	/* --tab-selected-bgimage: var(--toolbar-bgimage) !important; */
	position: relative !important;
	box-shadow: none !important;
	opacity: 1 !important;
	border: none !important;
	outline: none !important;
	transition: all 0.3s ease !important;
}
