@import "modules/tabs.css";
@import "modules/findbar.css";
@import "modules/context.css";
@import "modules/bookmarks.css";
@import "modules/extensions.css";
@import "modules/urlbar.css";
@import "modules/pip.css";
@import "modules/icons.css";


/* MacOS window control buttons */
/* .titlebar-buttonbox {
	position: relative;
	margin-right: 0px;
}
.titlebar-button {
	transition: all .3s ease !important;
	padding: 9px 12px 7px !important;
}
.titlebar-button.titlebar-close {
	padding-right: 16px !important;
}
.titlebar-button > .toolbarbutton-icon {
	transition: all 0.3s ease !important;
	list-style-image: none;
	border-radius: 100%;
	width: 14px !important;
	height: 14px !important;
}
.titlebar-button.titlebar-min > .toolbarbutton-icon {
	background: rgb(36, 209, 49) !important;
}
.titlebar-button.titlebar-max > .toolbarbutton-icon,
.titlebar-button.titlebar-restore > .toolbarbutton-icon {
	background: rgb(252, 185, 15) !important;
}
.titlebar-button.titlebar-close > .toolbarbutton-icon {
	background: rgb(250, 55, 55) !important;
}
.titlebar-button:hover > .toolbarbutton-icon {
	filter: brightness(50%);
}
.titlebar-min, .titlebar-restore, .titlebar-max, .titlebar-close {
	background-color: transparent !important;
} */

/* Hide bottom hovered link  */
#statuspanel[type=overLink] {
    display: none !important;
}

/* Round pages and toolbar */
@media (-moz-pref("userChrome.rounded.style1")) {
	/* Rounded corner in toolbar */
	#nav-bar {
		border-radius: 10px 10px 0 0 !important;
	}
	#navigator-toolbox {
		border-bottom: unset !important;
	}
}

/* Hide the inactive items in Context Menu */
/* @namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");	 */
@media (-moz-pref("userChrome.hide.inactive.menu")) {
	#tabContextMenu > menuitem[disabled],
	contentAreaContextMenu > menuitem[disabled],
	#open-tab-group-context-menu > menuitem[disabled],
	#allTabsMenu-allTabsView .panel-subview-body > toolbarbutton[disabled] {
	visibility: collapse !important;
	}
}
/* UserJS fixes */
#ucjs-undo-close-tab-button1 image {
	padding: 6px !important;
}
#memoryUsageButton .toolbarbutton-text {
	color: var(--toolbarbutton-icon-fill) !important;
}

/* @-moz-document url(moz-extension://73456cd2-4c66-4841-9c2a-37300014207f/index.html) {
        .is-theme-style-dark body, .is-theme-style-light body, html.is-theme-style-dark, html.is-theme-style-light {
            background-color: rgba(0, 0, 0, 0.0) !important;
    }
} */

/* NOVA redesign remove gaps */
/* :root {
  --chrome-window-gap: 0px !important;
  --chrome-block-radius: 0px !important;
  --chrome-content-separator-color: transparent !important;
}

.chrome-block {
  border: 0px !important;
}

.browserContainer {
  border: 0px !important;
} */