@import "tabs.css";
@import "findbar.css";
@import "context.css";
@import "bookmarks.css";
@import "extensions.css";
@import "urlbar.css";

/* MacOS window control buttons */
.titlebar-buttonbox {
	position: relative;
	margin-right: 0px;
}
.titlebar-button {
	transition: all .3s ease !important;
	padding: 8px 12px !important;
}
.titlebar-button.titlebar-close {
	padding-right: 16px !important;
}
.titlebar-button > .toolbarbutton-icon {
	transition: all 0.3s ease !important;
	list-style-image: none;
	border-radius: 10px;
}
.titlebar-button.titlebar-min > .toolbarbutton-icon {
	background: rgb(36, 209, 49) !important;
}
.titlebar-button.titlebar-max > .toolbarbutton-icon,
.titlebar-button.titlebar-restore > .toolbarbutton-icon {
	background: rgb(252, 185, 15) !important;
}
.titlebar-button.titlebar-close > .toolbarbutton-icon {
	background: rgb(250, 55, 55) !important;
}
.titlebar-button:hover > .toolbarbutton-icon {
	filter: brightness(50%);
}
.titlebar-min, .titlebar-restore, .titlebar-max, .titlebar-close {
	background-color: transparent !important;
}

/* Hide bottom hovered link  */
#statuspanel[type=overLink] {
    display: none !important;
}

/* Round root, searchbar and urlbar */
@media (-moz-bool-pref: "userChrome.full.rounded.style") {
	/* Root backgound colors */
	:root {
		--lwt-frame: var(--lwt-accent-color, #030615) !important;                                                           
		--toolbar-field-focus-border-color: transparent !important;                              
		--chrome-content-separator-color: transparent !important;                                   
	  }
	/* Rounded corner in pages */
	.browserContainer {
		padding: 3px 5px 5px 5px !important;
	}
	/* Rounded corner in toolbar */
	#nav-bar, #PersonalToolbar {
		border-radius: 10px !important;
		margin-inline: 6px !important;
}
	.browserStack>browser{
		border-radius: 10px !important;
		outline: 5px solid var(--lwt-frame) !important;
		outline-offset: 1px !important;
		box-shadow: 0 0 4px 0px color-mix(in srgb, var(--lwt-frame) 85%, var(--lwt-tab-text)) !important;
	}
	.browserContainer, .browserStack, #browser{
		background-color: var(--lwt-frame) !important;
	}
}