.theme-dark .titleBar__710b0.withFrame__5e49e {
	height: 28px;
} 
.platform-win .typeWindows_e41dab .wordmark__5b8c9 g {
	display: none;
}
.platform-win .typeWindows_e41dab .winButton_f17fb6 {
	width: 13px;
	height: 13px;
	margin: 10px 14px 0 6px;
	border-radius: 8px;
	background-color: var(--background-primary);
	transition: all 0.3s ease !important;
}
.platform-win .typeWindows_e41dab .winButton_f17fb6 svg {
	display: none;
}
.platform-win.app-focused .typeWindows_e41dab .winButtonClose__6396d {
	background-color: rgb(250, 55, 55);
	transition: all 0.2s ease !important;
}
.platform-win.app-focused .typeWindows_e41dab .winButtonClose__6396d:hover, .platform-win.app-focused .typeWindows_e41dab .winButtonMinMax_caf9c8:hover {
	filter: brightness(50%);
	transition: all 0.2s ease !important;
}
.platform-win.app-focused .typeWindows_e41dab .winButtonMinMax_caf9c8:nth-child(2n) {
	background-color: rgb(36, 209, 49);
	transition: all 0.2s ease !important;
}
.platform-win.app-focused .typeWindows_e41dab .winButtonMinMax_caf9c8:nth-child(3n) {
	background-color: rgb(252, 185, 15);
	transition: all 0.2s ease !important;
}