.platform-win .typeWindows_a934d8 {
	z-index: 102;
	position: absolute;
	flex-direction: row;
	align-items: center;
	top: 1px;
	width: 100%;
	margin: 0;
	padding-top: 12px !important;
	padding-right: 9px;
	padding-left: 3px;
	-webkit-app-region: drag;
	background: transparent !important;
}
.platform-win .typeWindows_a934d8 .wordmark_a934d8 {
	top: 11px;
	left: 11px;
	width: 52px;
	height: 12px;
	padding: 0;
	-webkit-app-region: no-drag;
}
.platform-win .typeWindows_a934d8 .wordmark_a934d8 g {
	display: none;
}
.platform-win .typeWindows_a934d8 .winButton_a934d8 {
	width: 12px;
	height: 12px;
	margin-left: 8px;
	border-radius: 15px;
	background-color: var(--background-primary);
	background-size: 0;
	-webkit-app-region: no-drag;
	transition: all 0.3s ease !important;
}
.platform-win .typeWindows_a934d8 .winButton_a934d8 svg {
	display: none;
}
.platform-win.app-focused .typeWindows_a934d8 .winButtonClose_a934d8 {
	background-color: rgb(250, 55, 55);
}
.platform-win.app-focused .typeWindows_a934d8 .winButtonMinMax_a934d8:nth-child(2n) {
	background-color: rgb(36, 209, 49);
}
  .platform-win.app-focused .typeWindows_a934d8 .winButtonMinMax_a934d8:nth-child(3n) {
	background-color: rgb(252, 185, 15);
}
.platform-win.app-focused .typeWindows_a934d8 .winButtonClose_a934d8:hover, .platform-win.app-focused .typeWindows_a934d8 .winButtonMinMax_a934d8:hover {
	filter: brightness(50%);
	transition: all 0.2s ease !important;
}
.guilds_a4d4d9 {
	margin-top: 32px;
} 
.notice__5fd4c, .bd-notice:first-child {
	z-index: 103;
	-webkit-app-region: drag;
	border-radius: 0;
}
.notice__5fd4c button, .notice__5fd4c .closeIcon_c91bad, .bd-notice:first-child button, .bd-notice:first-child .closeIcon_c91bad {
	-webkit-app-region: no-drag;
}
.standardSidebarView__12528 {
	z-index: unset;
}
.standardSidebarView__12528 .sidebarRegionScroller__8113e {
	z-index: 103;
}
.standardSidebarView__12528 .contentRegion__08eba {
	z-index: 103;
}
.standardSidebarView__12528 .contentColumn__5f80b {
	-webkit-app-region: no-drag;
}
.platform-win .sidebar_a4d4d9 {
	border-radius: 0;
}
.platform-win .sidebar_a4d4d9 .header__77c95, .platform-win .sidebar_a4d4d9 .searchBar__621ec {
	z-index: 103;
}
.platform-win .sidebar_a4d4d9 .header__77c95, .platform-win .sidebar_a4d4d9 .searchBarComponent__8f95f {
	-webkit-app-region: no-drag;
}
.platform-win .sidebar_a4d4d9 .searchBar__621ec {
	-webkit-app-region: drag;
}
.chat__52833 {
	z-index: 103;
}
.container__26baa {
	z-index: 103;
	-webkit-app-region: drag;
}
.container__26baa .topic__16ae3,
.container__26baa .title_d4ba1a,
.container__26baa .nicknames__12efb > div,
.container__26baa .item_e4ca95,
.container__26baa .titleWrapper_d6133e[role=button] {
	-webkit-app-region: no-drag;
}