.winButton_c38106 svg {
    display: none !important;
}
.winButton_c38106 {
    transition: all 0.3s ease !important;
    mask: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="8" height="16" viewBox="0 0 24 24"%3E%3Cpath d="M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2"/%3E%3C/svg%3E')
               center/contain no-repeat;
    background: var(--button-secondary-background);
}
.winButtonClose_c38106[aria-label="Close"] {
    margin-right: 8px !important;
}
.winButtonMinMax_c38106[aria-label="Minimize"]:hover {
    background: rgb(36, 209, 49) !important;
}
.winButtonMinMax_c38106[aria-label="Maximize"]:hover {
    background: rgb(252, 185, 15) !important;
}
.winButtonClose_c38106[aria-label="Close"]:hover {
    background: rgb(250, 55, 55) !important;
}