.theme-dark .titleBar-1it3bQ.withFrame-2dL45i {
	height: 28px;
}
.platform-win .bg-1QIAus {
	top: 0px;
}
.theme-dark .titleBar-1it3bQ .winButton-3UMjdg {
	width: 46px;
	height: 32px;
 }
.theme-dark .titleBar-1it3bQ .winButton-3UMjdg.winButtonClose-3Q8ZH5:hover {
	background-color: #C42B1C;
}
html.theme-dark.app-focused .wordmarkWindows-2dq6rw,
html.theme-dark.app-focused .winButton-3UMjdg {
	color: #FFF;
}
.wordmarkWindows-2dq6rw {
	display: none;
}