/* Monochrome count badge */
.toolbarbutton-badge {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
    min-width: 8px !important;
}

/* Stylus */
.webextension-browser-action[label="Stylus"] {
    list-style-image: url(stylus.svg) !important;
}

/* Violentmonkey */
.webextension-browser-action[label="Violentmonkey"] {
    list-style-image: url(violentmonkey.svg) !important;
}
.webextension-browser-action[label="Violentmonkey"] > .toolbarbutton-badge-stack > .toolbarbutton-icon {
    scale: 1.2;
}